.notlog {
    display: block;
    text-align: center;
    margin: auto;
}

button#pdf-btn {
  border: 0px;
  margin-top: 12px;
  font-size: 14px;
  padding: 8px;
  color: white;
  background-color: rgb(34, 79, 116);
  border-radius: 2px;
  cursor: pointer;
  float: right;
}
