 @import '~quill/dist/quill.bubble.css'; 
 @import '~quill/dist/quill.snow.css';
.divquil {
    margin: auto;
    display: block;
    width: 80%;
    margin-top: 10em;
}

.toolbar {
    background-color: #c4c4c4;
    text-align: center;
    display: block;
    margin: auto;
    padding: 1em;
}